body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  width: 100%;

  display: flex;
  justify-content: center;
}
.colContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
#startContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #216A9C;
  height: 300px;
  width:70%;
}
#startHeader {
  font-family: 'open sans';
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
}
#startHeader span{
  display: block;
  font-size: 65px;
  font-weight: 500;
}
#searchBarContainerBG {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("search_bg.JPG");
  background-size: cover;
  background-position-y: -100px;
  -webkit-filter-: brightness(0.7);
  filter:brightness(0.7);
  width: 70%;
  height: 300px;
}

#searchBarContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  position: relative;
  top: -300px;

  width: 70%;
  height: 300px;
}
#searchTabContainer{
  display: flex;
  flex-flow: row;
  width: 100%;

  align-self: flex-start; /*aligns the tab container to the top of parent element*/
}
#searchTabContainer div{
  padding: 5px 60px;
}
#searchTabContainer::before{
  width: 10px;
  content: "";
  background-color: #216A9C;
}
#searchUnselected{
  background-color: #216A9C;
}
#searchSelected{
  background-color: none;
}
#searchTabContainer div h3{
  font-family: 'open sans';
  font-weight: 300;
  font-size: 20px;
  color: whitesmoke;
  padding: 0;
  margin: 0;

}
#searchTabContainer::after{
  flex-grow: 1;
  content: "";
  background-color: #216A9C;
}
#searchBarContainer form{
  width: 100%;
  text-align: center;
}
#searchBarContainer input[type=text]{
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 2px;
}
