body {
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
  width: 100%;

  display: flex;
  justify-content: center;
}
a,p,h1,h2,h3,h4,h5,input {
  font-family: 'open sans', arial;
}
.colContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
#startContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  height: 600px;
  width:100%;
}
#startContainerBG {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  background-color: #3F51B5;
  background-image: url("search_sats.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
  -webkit-filter-: brightness(0.7);
  filter:brightness(0.6);
  width: 90%;
  height: 600px;
}
#startHeader {
  font-family: 'open sans';
  font-weight: 300;
  font-size: 35px;
  text-align: center;
  color: whitesmoke;
  line-height: 50px;
}
#startHeader span{
  display: block;
  font-size: 60px;
  font-weight: 500;
}
#searchBarContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  width: 70%;
  height: 300px;
  border-radius: 1px;

  background: #EEEEEE;
}
#searchTabContainer{
  display: flex;
  flex-flow: row;
  background-color: #1A237E;
  border-bottom: 2px solid #3F51B5;

  width: 100%;
  padding-top: 10px;

  align-self: flex-start; /*aligns the tab container to the top of parent element*/
}
#searchTabContainer div{
  padding: 5px 60px;
  border-radius: 2px 2px 0 0;
  transition: ease-in-out 0.15s background-color;
}
#searchTabContainer::before{
  width: 10px;
  content: "";
  background-color: #1A237E;
}
#searchSats{
  background-color: #1A237E;
}
#searchBit{
  background-color: #3F51B5;
}
#searchTabContainer div h3{
  font-family: 'open sans';
  font-weight: 300;
  font-size: 20px;
  color: whitesmoke;
  padding: 0;
  width: 100%;
  margin: 0;
}
#searchTabContainer div:hover{
  cursor: pointer;
}
#searchBarContainer form{
  width: 100%;
  text-align: center;
}
#searchBarContainer input[type=text]{
  width: calc(60% - 20px);
  max-width: 700px;
  height: 42px;
  padding: 0 10px;
  border: none;
  border-radius: 4px 0px 0px 4px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 3px whitesmoke;
  margin-top: 5px;
}
#searchBarContainer input[type=submit]{
  width: 10%;
  max-width: 70px;
  border: none;
  height: 42px;
  padding: 0;
  border-radius: 0px 4px 4px 0px;
  background-color: #4CAF50;

  color: whitesmoke;
  font-size: 18px;
  font-weight: 300;
  transition: linear 0.1s color, backgound-color;
}
#searchBarContainer input[type=submit]:hover{
  background-color: #43A047;
  color: #1d1d1d;
  cursor: pointer;
}
#searchBarContainer p{
  font-size: 14px;
  color: #1d1d1d;
}
.alertWarning{
  margin: -42px auto 0 auto;
  width: calc(70% - 15px); /* attempt at using searchbar's and submit's button width to make this element just as wide. doesn't really work atm*/
  padding: 18px 0;
  max-width: 790px;
  border-radius: 2px;
  text-align: left;
  line-height: 0;
/*display: none;*/
  opacity: 0;

  color: #772929;
  background: linear-gradient(to bottom, #f25757, #d64d4d);

  /*transition: all 0.5s background, color, display;*/
  /*animation: fadeIn 1s; */
  /*animation: fadeOut 1s;*/
}
.alertWarning::before{
  content: "!";
  background-color: #af3d3d;
  margin: 0 5px 0 0;
  padding: 7px 10px;
  font-size: 20px;
  line-height: 0.3;
}

/*PUT THIS IN NEW CSS-FILE, LIKE "ANIMATIONS.CSS" OR SOMETHING*/

/*earlier versions of chrome and safari*/
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*earlier versions of firefox*/
@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*earlier versions of internet explorer*/
@-ms-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-ms-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*earlier versions of opera*/
@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-o-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*standard syntax*/
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
