.itemContainer {
	width: 70%;
	font-family: 'open sans';
	float: left;
	margin-top: -300px;
}

#legoItem {
	display: flex;
	padding-top: 15px;
	
}

img {
	max-width: 100%;
	height: auto;
}

.infoText {
	margin: 5px 15px;

}

#allSets {
	display: flex;
	flex-flow: row wrap;
}

.legoSet {
	padding: 10px 0;
	border-top: 2px solid grey;
	display: flex;
	width: 50%;
	
}

#allParts {
	display: flex;
	flex-flow: row wrap;
}

.legoPart {
	padding: 10px 0;
	border-top: 2px solid grey;
	display: flex;
	width: 50%;
	
}
